
@{
    ViewBag.Title = "Index";
}

<h2>Vehiculos</h2>


<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Marca</th>
            <th>Modelo<</th>
            <th>Placa</th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>Prueba</td>
        <td>Prueba1</td>
        <td>Civic</td>
        <td>2019</td>
    </tr>

</table>